#demo {
    display: block;
    border: 2*.01in solid #ddd;
    padding: .6in 1in;
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    img {
        max-height: .2in;
        max-width: .2in;
        margin: 0;
        padding: 0;
    }
}

@mixin uppercase () {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.welcome {
    margin: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 900;
    p {
        @include uppercase;
        color: white;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}

#welcome {
    position: relative;
    margin: 10vmin auto 0;
    display: block;
    width: 80vmin;
    max-height: 50vmin
}

.disappear {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .4s;
}

.themeButton0 {
    margin-top: 10px
}

.themeButton1 span:first-child {
    background-color: #67c2af;
}

.themeButton1 span:nth-child(2) {
    background-color: #fcae2b;
}

.themeButton1 span:nth-child(3) {
    background-color: #ef77ab;
}

.themeButton1 span:nth-child(4) {
    background-color: #a0b1dd;
}

.themeButton1 span:last-child {
    background-color: #7c745d;
}

.themeButton2 span:first-child {
    background-color: #C34D59;
}

.themeButton2 span:nth-child(2) {
    background-color: #B0D756;
}

.themeButton2 span:nth-child(3) {
    background-color: #FE6A6A;
}

.themeButton2 span:nth-child(4) {
    background-color: #4ECBC3;
}

.themeButton2 span:last-child {
    background-color: #54606E;
}

.themeButton3 span:first-child {
    background-color: #FE9900;
}

.themeButton3 span:nth-child(2) {
    background-color: #774E89;
}

.themeButton3 span:nth-child(3) {
    background-color: #2C748C;
}

.themeButton3 span:nth-child(4) {
    background-color: #00a065;
}

.themeButton3 span:last-child {
    background-color: #484939;
}

.themeButton4 span:first-child {
    background-color: #C43235;
}

.themeButton4 span:nth-child(2) {
    background-color: #2C748C;
}

.themeButton4 span:nth-child(3) {
    background-color: #610065;
}

.themeButton4 span:nth-child(4) {
    background-color: #555;
}

.themeButton4 span:last-child {
    background-color: #06000A;
}

.themeButton5 span:first-child {
    background-color: #2C748C;
}

.themeButton5 span:nth-child(2) {
    background-color: #7DBCA9;
}

.themeButton5 span:nth-child(3) {
    background-color: #FFD37C;
}

.themeButton5 span:nth-child(4) {
    background-color: #EAFD89;
}

.themeButton5 span:last-child {
    background-color: #5F5C3B;
}

.themeButton6 span:first-child {
    background-color: #59323C;
}

.themeButton6 span:nth-child(2) {
    background-color: #866450;
}

.themeButton6 span:nth-child(3) {
    background-color: #BFAF80;
}

.themeButton6 span:nth-child(4) {
    background-color: #F2EEB3;
}

.themeButton6 span:last-child {
    background-color: #260126;
}

.wrapper {
    margin-left: 12%;
    width: 8.5in;
}

.toggle {
    margin-top: 5px;
}

@media screen and (min-width: 2500px) {
    #form,
    .toggle {
        float: right;
        margin-right: 15%;
        width: 40%;
    }
    #form,
    #demo {
        display: inline-block;
    }
    .wrapper {
        margin-top: 2%;
        width: 90%;
    }
}

.colors {
    margin: 0;
    width: 100%;
}

.themes button {
    padding: 0 15px;
}

.scheme {
    padding-left: 20%;
    height: 25px;
}


/***************************** Sidebar *****************************/

.btn-info {
    margin: 10*.01in auto 10*.01in;
}

.choices {
    margin: 0;
}

$sideborder: 2*.01in solid #555;
.sidebar {
    background-color: #ddd;
    margin-top: 50px;
    text-align: center;
    border-right: $sideborder;
    position: fixed;
    margin: 0;
    bottom: 0;
    top: 0;
    min-width: 150px;
    width: 11%;
    overflow-x: scroll;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.options {
    left: 0;
    li button {
        background-color: #fefefe;
        margin: 0;
    }
    button {
        width: 90%;
    }
}

.layouts {
    right: 0;
    border-left: $sideborder;
    a {
        margin: 5*.01in 10*.01in;
        padding: 0;
        border-radius: 0;
        border: 0 solid #eee;
        button {
            background-color: #fefefe;
        }
    }
    img {
        background-color: #eee;
        width: 100%;
    }
}

.u-most-width {
    width: 80%;
}
