#demo {
  display: block;
  margin: auto;
  border: 0.02in solid #ddd;
  padding: .6in 1in;
  width: 8.5in;
  height: 11in;
  overflow: hidden; }
  #demo img {
    max-height: .2in;
    max-width: .2in;
    margin: 0;
    padding: 0; }

.themeButton0 {
  margin-top: 10px; }

.themeButton1 span:first-child {
  background-color: #67c2af; }

.themeButton1 span:nth-child(2) {
  background-color: #fcae2b; }

.themeButton1 span:nth-child(3) {
  background-color: #ef77ab; }

.themeButton1 span:nth-child(4) {
  background-color: #a0b1dd; }

.themeButton1 span:last-child {
  background-color: #8c836a; }

.themeButton2 span:first-child {
  background-color: #C34D59; }

.themeButton2 span:nth-child(2) {
  background-color: #B0D756; }

.themeButton2 span:nth-child(3) {
  background-color: #FE6A6A; }

.themeButton2 span:nth-child(4) {
  background-color: #4ECBC3; }

.themeButton2 span:last-child {
  background-color: #54606E; }

.themeButton3 span:first-child {
  background-color: #FE9900; }

.themeButton3 span:nth-child(2) {
  background-color: #774E89; }

.themeButton3 span:nth-child(3) {
  background-color: #2C748C; }

.themeButton3 span:nth-child(4) {
  background-color: #005763; }

.themeButton3 span:last-child {
  background-color: #484939; }

.themeButton4 span:first-child {
  background-color: #C43235; }

.themeButton4 span:nth-child(2) {
  background-color: #2C748C; }

.themeButton4 span:nth-child(3) {
  background-color: #610065; }

.themeButton4 span:nth-child(4) {
  background-color: #333; }

.themeButton4 span:last-child {
  background-color: #06000A; }

.themeButton5 span:first-child {
  background-color: #2C748C; }

.themeButton5 span:nth-child(2) {
  background-color: #7DBCA9; }

.themeButton5 span:nth-child(3) {
  background-color: #FFD37C; }

.themeButton5 span:nth-child(4) {
  background-color: #EAFD89; }

.themeButton5 span:last-child {
  background-color: #5F5C3B; }

.wrapper {
  position: absolute;
  margin: 0.5in 1.7in;
  width: 8.5in; }

.colors {
  margin: 0 auto; }

.scheme {
  padding-left: 20px;
  height: 20px; }

/***************************** Sidebar *****************************/
.btn-info {
  margin: 0.1in auto 0.1in; }

.choices {
  margin: 0; }

.sidebar {
  background-color: #ddd;
  margin-top: 0.5in;
  text-align: center; }

.options {
  border-right: 0.02in solid #555;
  position: fixed;
  margin: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 1.5in;
  overflow: scroll; }
  .options li button {
    background-color: #fefefe;
    margin: 0; }

.layouts {
  right: 0;
  border-left: 0.02in solid #555;
  border-top: 0.02in solid #555;
  border-bottom: 0.02in solid #555;
  border-bottom-left-radius: 0.08in;
  border-top-left-radius: 0.08in;
  padding: 0.05in 0;
  position: fixed;
  width: 1.4in; }
  .layouts a {
    margin: 0.05in 0.1in;
    padding: 0;
    border-radius: 0;
    border: 0 solid #eee; }
    .layouts a button {
      background-color: #fefefe; }
  .layouts img {
    background-color: #eee;
    width: 100%; }

.u-most-width {
  width: 80%; }

/*********PRINT*********/

/*# sourceMappingURL=basic.css.map */
