#demo {
    display: block;
    margin: auto;
    border: 2*.01in solid #ddd;
    padding: .6in 1in;
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    img {
        max-height: .2in;
        max-width: .2in;
        margin: 0;
        padding: 0;
    }
}



.wrapper {
    position: absolute;
    margin: 50*.01in 170*.01in;
    width: 8.5in;
}



/***************************** Sidebar *****************************/

.btn-info {
    margin: 10*.01in auto 10*.01in;
}

.choices {
    margin: 0;
}

$sideborder: 2*.01in solid #555;
$corner: 8*.01in;
.sidebar {
    background-color: #ddd;
    margin-top: 50*.01in;
    text-align: center;
}

.options {
    border-right: $sideborder;
    position: fixed;
    margin: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 150*.01in;
    overflow: scroll;
    li button {
        background-color: #fefefe;
        margin: 0;
    }
}

.layouts {
    right: 0;
    border-left: $sideborder;
    border-top: $sideborder;
    border-bottom: $sideborder;
    border-bottom-left-radius: $corner;
    border-top-left-radius: $corner;
    padding: 5*.01in 0;
    position: fixed;
    width: 140*.01in;
    a {
        margin: 5*.01in 10*.01in;
        padding: 0;
        border-radius: 0;
        border: 0 solid #eee;
        button {
            background-color: #fefefe;
        }
    }
    img {
        background-color: #eee;
        width: 100%;
    }
}

.u-most-width {
    width: 80%;
}


/*********PRINT*********/

