.demo {
    display: block;
    margin: auto;
    border: 2px solid #ddd;
    padding: .8in;
    width: 8.5in;
    height: 11in;
}

.wrapper {
    position: absolute;
    margin: 50px 170px;
    width: 8.5in;
}

.form {
    margin: 30px;
    .education, .xp {
        padding: 10px;
    }
    .education:nth-child(even),.xp:nth-child(even) {
        background-color: #eee;
    }
}


/***************************** Sidebar *****************************/

.btn-info {
    margin: 10px auto 10px;
}

.choices {
    margin: 0;
}

$sideborder: 2px solid #555;
$corner: 8px;
.sidebar {
    background-color: #ddd;
    margin-top: 50px;
    text-align: center;
}

.options {
    border-right: $sideborder;
    position: fixed;
    margin: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 150px;
    overflow: scroll;
    li button {
        background-color: #fefefe;
        margin: 0;
    }
}

.layouts {
    right: 0;
    border-left: $sideborder;
    border-top: $sideborder;
    border-bottom: $sideborder;
    border-bottom-left-radius: $corner;
    border-top-left-radius: $corner;
    padding: 5px 0;
    position: fixed;
    width: 140px;
    a {
        margin: 5px 10px;
        padding: 0;
        border-radius: 0;
        border: 0 solid #eee;
        button {
            background-color: #fefefe;
        }
    }
    img {
        background-color: #eee;
        width: 100%;
    }
}

.u-most-width {
    width: 90%;
}


/*********PRINT*********/

@media print {
    * {
        background-color: white;
        border: 0;
    }
}
