<!DOCTYPE html>
<html lang="en" ng-app="capstone">

<head>
  <meta charset="UTF-8">
  <title>Sassy CV</title>
  <link rel="stylesheet" href="./bower_components/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="./bower_components/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="./basic.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./layouts/form.css">
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
  <script src="./bower_components/angular-route/angular-route.js"></script>
  <script src="./bower_components/angular-route-styles/route-styles.js"></script>
  <script src="./js/routes.js"></script>
  <script src="./js/service.js"></script>
  <script src="./js/controllers.js"></script>
</head>

<body ng-controller="SecondController">
  <div class="wrapper">
    <div class="toggle">
      <button class="button-primary" ng-click="isFormOpen = !isFormOpen">Show/Hide Form</button>
    </div>
    <div class="form" ng-show="isFormOpen">
      <form>
        <div class="row">
          <div class="six columns">
            <label for="name">Full Name</label>
            <input class="u-full-width" type="text" ng-model="name" id="name">
          </div>
        </div>
        <label>Contact</label>
        <div class="row">
          <div class="twelve columns">
            <input class="u-full-width" type="text" ng-model="address.street">
          </div>
          <div class="six columns">
            <input class="u-full-width" type="text" ng-model="address.city">
          </div>
          <div class="two columns">
            <input class="u-full-width" type="text" ng-model="address.state">
          </div>
          <div class="three columns">
            <input class="u-full-width" type="text" ng-model="address.zip">
          </div>
        <div class="row">
          <div class="two columns">
            <label for="word">
              <input type="checkbox" id="word" ng-model="word" value="word"> Word</label>
          </div>
          <div class="six columns">
            <label for="icon">
              <input type="checkbox" id="icon" ng-model="icon" value="icon"> Icon</label>
          </div>
        </div>
          <div class="three columns">
            <input type="checkbox" ng-model="show1">
            <select ng-model="icon1" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Behance">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
            <input type="checkbox" ng-model="show2">
            <select ng-model="icon2" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Website">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
            <input type="checkbox" ng-model="show3">
            <select ng-model="icon3" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Website">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
            <input type="checkbox" ng-model="show4">
            <select ng-model="icon4" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Website">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
            <input type="checkbox" ng-model="show5">
            <select ng-model="icon5" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Website">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
            <input type="checkbox" ng-model="show6">
            <select ng-model="icon6" class="">
              <option ng-value="Email">Email</option>
              <option ng-value="Phone">Phone</option>
              <option ng-value="LinkedIn">LinkedIn</option>
              <option ng-value="Github">Github</option>
              <option ng-value="Website">Website</option>
              <option ng-value="Twitter">Twitter</option>
              <option ng-value="Skype">Skype</option>
            </select>
          </div>
          <div class="six columns">
            <input class="u-full-width" type="text" name="input" ng-model="option1">
            <input class="u-full-width" type="text" name="input" ng-model="option2">
            <input class="u-full-width" type="text" name="input" ng-model="option3">
            <input class="u-full-width" type="text" name="input" ng-model="option4">
            <input class="u-full-width" type="text" name="input" ng-model="option5">
            <input class="u-full-width" type="text" name="input" ng-model="option6">
          </div>
        </div>
        <div class="row">
          <label for="objective">Objective</label>
          <input class="u-full-width" type="text" ng-model="objective" id="objective">
        </div>
        <div class="row">
          <label>Strength</label><button ng-click="addStrength()">+</button>
                <h6 ng-repeat="strength in strengths"><input type="text" ng-model="strength.name"><input type="number" name="input" ng-model="strength.amount"
           min="0" max="100">/100</h6>
        </div>
        <div class="row">
          <label>Experience</label>
          <button ng-click="addExp()">Add Experience</button>
          <div class="row xp" ng-repeat="x in experience track by $index" ng-init="index = $index">
            <input class="u-full-width" type="text" ng-model="x.name">
            <input class="u-full-width" type="text" ng-model="x.title">
            <input class="u-full-width" type="text" ng-model="x.when">
            <ul>
              <li ng-repeat="r in x.bullets track by $index">
                <input class="u-most-width" type="text" ng-model="x.bullets[$index]">
              </li>
            </ul>
            <button ng-click="addBullet(index)">Add Responsibility</button>
          </div>
        </div>
        <div class="row">
          <label>Education</label>
          <button ng-click="addSchool()">Add School</button>
          <div class="row education" ng-repeat="x in school track by $index" ng-init="index = $index">
            <input class="u-full-width" type="text" ng-model="x.name">
            <input class="u-full-width" type="text" ng-model="x.major">
            <input class="u-full-width" type="text" ng-model="x.when">
            <input class="u-full-width" type="text" ng-model="x.degree">
            <input class="u-full-width" type="text" ng-model="x.gpa">
          </div>
        </div>
      </form>
    </div>
    <div ng-view></div>
  </div>
  <div class="layouts sidebar">
    <a href="#layout1" class="button">
      <button>Layout1</button>
    </a>
    <a href="#layout2" class="button"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT4x3MZl0ct580kvhrVxQTW90ADKsAq1PyKK8dFvicbOCHUgsO_Mw" alt=""></a>
    <a href="#layout3" class="button"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRZFq_f8Lm-_wP-avqvjNylJT6i6Wvnj-327L1TtlzCvAxLBDWsbQ" alt=""></a>
  </div>
</body>

</html>
