$first: #C43235;
$second: #2C748C;
$third: lighten( #300032, 10% );
$fourth: #555;
$rest: #06000A;



* {
	color: $rest;
}

#layout3 {
	.one-third.column .ribbon {
        background-color: $third; //#ba89b6;
        color: #fff;
    .ribbon-content:before,
	.ribbon-content:after {
    border-color: darken($third, 10%) transparent transparent transparent;
    }
    }
.one-third.column {
	background-color: $rest;
	h5, p, li, span, div, h6 {
		color: white;
	}
}
}

.name {
	color: $first;
}

.section {
	color: $third;
}

.experience h6 span {
	color: $first;
}

.one-third.column h5, h4 {
	color: $third;
}

@mixin circle ($color) {
    color: $color;
    border-color: $color;
}

.progress {
	background-color: $second;
}

.Native {
    @include circle($first);
}

.Fluent {
    @include circle($second);
}

.Business {
    @include circle($third);
}


.squares {
    * {
        border-color: $rest !important;
        color: $rest !important;
    }
    &.first {
        background-color: lighten($first, 9%);
    }
    &.second {
        background-color: lighten($second, 9%);
    }
    &.third {
        background-color: lighten($third, 9%);
    }
    &.fourth {
        background-color: lighten($fourth, 9%);
    }
    .progress {
        background-color: $rest;
    }
}