body {
    display: block;
    margin: auto;
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    img {
        max-height: .2in;
        max-width: .2in;
    }
}

#layout1 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .dndLi {
        list-style-type: none !important;
        list-style: none !important;
    }
    .six.columns {
        width: 3.4in;
    }
}

#layout2 {
    li,
    td h6 {
        font-size: 12 * .014in;
        margin: 0 0 0 20 * .014in;
    }
    .name {
        font-size: 1.5in;
    }
}

#layout3 {
    padding-right: 1.2in;
    .objective {
        p {
            font-size: .18in;
        }
        .ribbon {
            width: 2.99in;
        }
    }
    .name {
        font-size: 1in;
    }
}

.two-thirds.column {
    width: 4in;
    left: 0;
    * {
        width: 4in;
    }
}

.one-third.column {
    width: 2.7in;
    left: 5.1in;
}

.first {
    margin-right: .5in;
}

.second {
    position: fixed;
    right: -3in;
}

.contacts {
    .one.column {
        display: inline-block;
        width: 10%;
    }
    .ten.columns {
        display: inline-block;
        margin-right: .5in;
        width: 80%;
    }
}
