$first: #C34D59;
$second: #B0D756;
$fourth: #4ECBC3;
$third: #FE6A6A;
$rest: #54606E;


* {
	color: $rest;
}
#layout3 {
    .one-third.column .ribbon {
        background-color: lighten($fourth, 12%); 
        color: #fff;
    .ribbon-content:before,
    .ribbon-content:after {
    border-color: darken($fourth, 10%) transparent transparent transparent;
    }
    }
.one-third.column {
    background-color: lighten($second, 20%);
}
}

.name {
	color: $first;
}

.section {
	color: $third;
}

.one-third.column h5, h4 {
	color: $second;
}

@mixin circle ($color) {
    color: $color;
    border-color: $color;
}

.progress {
	background-color: $first;
}

.Native {
    @include circle($fourth);
}

.Fluent {
    @include circle($second);
}

.Business {
    @include circle($third);
}

.squares {
    * {
        border-color: $rest !important;
        color: $rest !important;
    }
    &.first {
        background-color: $first;
    }
    &.second {
        background-color: $second;
    }
    &.third {
        background-color: $third;
    }
    &.fourth {
        background-color: $fourth;
    }
}
