<div id="demo" ng-init="layoutChange('layout4')">
  <div class="row" id="layout4">
    <div class="squares second">
      <h1 class="name" style="font-size: {{(150 - name.length*3).toString() + 'px'}}; letter-spacing: {{(name.length*-.01).toString() + 'px'}}">{{name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="one-third column">
      <div class="objective squares first">
        <h4 ng-if="objective !== ''">Objective</h4>
        <p>{{objective}}</p>
      </div>
      <div class="strengths squares third">
        <h4 ng-if="strengths.length !== 0">Strengths</h4>
        <div ng-repeat="s in strengths" class="header clear row"><span class="strength">{{s.name + ' '}}</span> <span class="progress" style="padding-left: {{s.amount/2}}%">
        </span></div>
      </div>
      <div class="row languages squares second">
        <h4 ng-if="languages.length !== 0">Languages</h4>
        <div class="row" ng-repeat="l in languages">
          <div class="language {{l.proficiency}}">
            {{l.language}}
            <br> {{l.proficiency}}
          </div>
        </div>
      </div>
      <div class="row squares" ng-class="{'first': $first, 'fourth': $odd, 'third': $even, 'second': $last}" ng-if="o.name !== ''" ng-repeat="o in otherSide">
        <div>
          <h4 ng-if="o.name !== ''">{{o.name}}</h4>
          <h5 ng-if="o.title !== ''">{{o.title}}</h5>
          <h6 ng-if="o.text !== ''">{{o.text}}</h6>
          <ul>
            <li ng-if="o.bullets[$index] !== ''" ng-repeat="b in o.bullets">{{b}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="two-thirds column">
      <div class="row squares fourth">
        <h4 ng-if="experience.length !== 0">Experience</h4>
        <div class="experience" ng-repeat="e in experience track by $index" ng-hide="experience.length === 0">
          <h5 class="company section">{{e.name}}</h5>
          <h6 class="title"><span ng-hide="e.title === ''">{{e.title}}</span><span ng-hide="e.title === '' || e.when === ''"> | </span><span ng-hide="e.when === ''">{{e.when}}</span></h6>
          <ul>
            <li ng-repeat="r in e.bullets track by $index" ng-hide="r === ''">{{r}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="third column">
      <div class="row squares third education">
        <h4 ng-hide="school.length === 0">Education</h4>
        <div class="row school" ng-repeat="e in school track by $index" ng-hide="school.length === 0">
          <h5 class="school section">{{e.name}}</h5>
          <div class="indent">
            <h6 class="font"><span ng-hide="e.degree === ''">{{e.degree}}</span><span ng-hide="e.degree === '' || e.major === ''"> in </span><span ng-hide="e.major === ''">{{e.major}}</span></h6>
            <h6 class="header"><span ng-hide="e.when === ''">Graduated: {{e.when}}</span><span ng-hide="e.when === '' || e.gpa === ''"> | </span><span ng-hide="e.gpa === ''">GPA: {{e.gpa}}</span></h6>
          </div>
        </div>
      </div>
      <div class="contact squares second">
        <h4>Contact</h4>
        <table class="contacts row">
          <tr>
            <td>
              <h6><img class="icon" src="./layouts/icons/address.png" alt=""></h6></td>
            <td>
              <h6 ng-if="word">Address:</h6>
              <h6>{{address.street}}</h6>
              <h6>{{address.city}}, {{address.state}} {{address.zip}}</h6></td>
          </tr>
          <tr ng-repeat="c in contacts">
            <td>
              <h6 ng-if="c['show'+$index]"><img class="icon" src="./layouts/icons/{{c.type}}.png" alt=""></h6></td>
            <td>
              <h6 ng-if="c['show'+$index]"><span ng-if="word">{{c.type}}: </span>{{c.text}}</h6></td>
          </tr>
        </table>
      </div>
      <div>
        <div ng-if="o.name !== ''" class="row squares" ng-repeat="o in otherMain" ng-class="{'fourth': $even, 'second': $odd, 'third': $first, 'first': $last}">
          <h4 ng-if="o.name !== ''">{{o.name}}</h4>
          <h5 ng-if="o.title !== ''">{{o.title}}</h5>
          <h6 ng-if="o.text !== ''">{{o.text}}</h6>
          <ul>
            <li ng-if="o.bullets[$index] !== ''" ng-repeat="b in o.bullets">{{b}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>