$first: #C43235;
$second: #2C748C;
$third: lighten( #300032, 10% );
$fourth: #333;
$rest: #06000A;



* {
	color: $rest;
}

.name {
	color: $first;
}

.section {
	color: $third;
}

.experience h6 span {
	color: $first;
}

.one-third.column h5, h4 {
	color: $third;
}

@mixin circle ($color) {
    color: $color;
    border-color: $color;
}

.progress {
	background-color: $second;
}

.Native {
    @include circle($first);
}

.Fluent {
    @include circle($second);
}

.Business {
    @include circle($third);
}

// tr:nth-child(even){
// 	background-color: $first;
// }
// tr:nth-child(odd){
// 	background-color: $second;
// }