<div class="demo">
  <div class="row">
    <h1 class="name">{{name}}</h1>
  </div>
  <div class="row">
    <div class="one-third column">
      <div class="objective">
        <h5>Objective</h5>
        <p>{{objective}}</p>
      </div>
      <div class="strengths">
        <h5>Strengths</h5>
        <div ng-repeat="s in strengths" class="header clear row"><span class="strength">{{s.name + ' '}}</span> <span class="progress" style="padding-left: {{s.amount/2}}%">
        </span></div>
      </div>
      <div class="row">
        <h5>Languages</h5>
        <div class="row" ng-repeat="l in languages">
          <div class="language {{l.proficiency}}">
            {{l.language}}
            <br> {{l.proficiency}}
          </div>
        </div>
      </div>
      <div class="contact">
        <h5>Contact</h5>
        <div class="row">
          <div ng-show="icon" class="one column">
            <p><img class="icon" src="./layouts/icons/address.png" alt=""></p>
          </div>
          <div ng-show="icon" class="one column"></div>
          <div class="ten columns">
            <p ng-show="word">Address:</p>
            <p>{{address.street}}</p>
            <p>{{address.city}}, {{address.state}} {{address.zip}}</p>
          </div>
        </div>
        <div class="row" ng-repeat="c in contacts">
          <div ng-show="icon" class="one column">
            <p ng-show="c['show'+$index]"><img class="icon" src="./layouts/icons/{{c.type}}.png" alt=""></p>
          </div>
          <div class="one column"></div>
          <div class="ten columns">
            <p ng-show="c['show'+$index]"><span ng-show="word">{{c.type}}: </span>{{c.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="two-thirds column">
      <div class="row">
        <h4>Experience</h4>
        <div class="experience" ng-repeat="e in experience track by $index">
          <h5 class="company">{{e.name}}</h5>
          <h6 class="title">{{e.title}} | {{e.when}}</h6>
          <ul>
            <li ng-repeat="r in e.bullets track by $index">{{r}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h4>Education</h4>
        <div class="row school" ng-repeat="e in school track by $index">
          <h5 class="school">{{e.name}}</h5>
          <h6>{{e.degree}} in {{e.major}}</h6>
          <h6>Graduated: {{e.when}} | GPA: {{e.gpa}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
