@mixin uppercase ($size:11px) {
    font-size: $size;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.name {
    font-size: 150px;
    text-align: center;
}

p {
    font-size: 12px;
    margin: 0;
}

.header {
    @include uppercase;
}

.section {
	@include uppercase(20px)
}

.progress {
    background-color: #aaa;
    display: inline-block;
    position: relative;
    height: 12px;
    margin: 1px 0;
}

.strength {
    float: left;
    width: 45%;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin circle ($color) {
    color: $color;
    border: 5px solid $color;
}

.language {
    @include uppercase;
    display: block;
    border-radius: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 35px 5px;
    width: 100px;
}

.Native {
    @include circle(black);
}

.Fluent {
    @include circle(#333);
}

.Business {
    @include circle(#666);
}

li {
    font-size: 12px;
    margin: 0 0 0 20px;
}

h4,
h5,
h6 {
    margin: 0 auto;
}

.experience,
.school,
.other {
    margin: 0 0 0 10px;
}
