
<div class="demo">
  <div class="row">
    <h1 class="name">{{name}}</h1>
  </div>
  <div class="row">
    <div class="one-third column">
    <div class="objective">
    	<h5>Objective</h5>
    	<p>{{objective}}</p>
    </div>
      <div class="contact">
      <h5>Contact</h5>
        <h6 ng-show="show1">{{icon1}}: {{option1}}</h6>
        <h6 ng-show="show2">{{icon2}}: {{option2}}</h6>
        <h6 ng-show="show3">{{icon3}}: {{option3}}</h6>
        <h6 ng-show="show4">{{icon4}}: {{option4}}</h6>
        <h6 ng-show="show5">{{icon5}}: {{option5}}</h6>
        <h6 ng-show="show6">{{icon6}}: {{option6}}</h6>
      </div>
    </div>
    <div class="two-thirds column">
      <h4 class="title">Galvanize</h4>
      <ul>
        <li>Wrote and maintained web applications, writing code for 6 hrs/day, Mon-Friday for 6 months</li>
        <li>Built proficiency in front end skills including Javascript, HTML5/CSS3, Sass, and Angular.js</li>
        <li>Completed 2 projects in Ruby on Rails/PostgreSQL & Node.js/MongoDB</li>
        <li>Utilized pair programming techniques to develop SnippetShare.io</li>
        <li>Practiced modern development techniques including TDD, Git/Github</li>
        <li>Built multiple custom APIs and integrated third party APIs</li>
        <li>Used debugging tools and practiced Test Driven Development</li>
        <li>Followed industry best practices</li>
      </ul>
    </div>
  </div>
</div>
