@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/***************************** Print *****************************/
.layout2,
.layout1 {
  display: none; }

#demo {
  padding-right: 1.5in;
  padding-left: 1.2in; }

#layout3 * {
  font-family: 'Oswald', sans-serif; }

.one-third {
  background-color: #ddd;
  padding: 0.09in; }
  .one-third .ribbon {
    /* This ribbon is based on a 16*.011in font side and a 24*.011in vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    position: relative;
    background: #aaa;
    color: #fff;
    text-align: center;
    /* Adjust to suit */
    margin: 1em -0.363in 0.5em;
    /* Based on 24*.011in vertical rhythm. 48*.011in bottom margin - normally 24 but the ribbon 'graphics' take up 24*.011in themselves so we double it. */ }
  .one-third .first {
    margin-top: -0.11in; }
  .one-third .ribbon .ribbon-content:before,
  .one-third .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #807080 transparent transparent transparent;
    bottom: -1em; }
  .one-third .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em; }
  .one-third .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0; }

.name {
  font-size: 0.99in; }

.school h5,
.experience h5 {
  padding: 0;
  margin: 0;
  font-size: .25in; }

p,
h6,
li {
  font-size: 0.198in;
  margin: 0; }

.header {
  font-size: 0.143in;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.section {
  font-size: 0.22in;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.progress {
  background-color: #aaa;
  display: inline-block;
  position: relative;
  height: 0.154in;
  margin: 0.022in 0; }

.strength {
  float: left;
  width: 45%;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 0.22in; }

.language {
  font-size: 0.143in;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: block;
  border-radius: 50%;
  margin: 0.055in auto;
  text-align: center;
  padding: 0.385in 0.055in;
  width: 1.1in; }

table * {
  padding: .01in;
  margin: 0 .02in; }

.Native {
  color: black;
  border: 0.055in solid black; }

.Fluent {
  color: #333;
  border: 0.055in solid #333; }

.Business {
  color: #666;
  border: 0.055in solid #666; }

li,
p {
  font-size: 0.132in;
  margin: 0 0 0 0.22in; }

.indent {
  margin-left: 0.22in;
  margin-bottom: 0.11in; }

h4 {
  font-size: .4in;
  margin: 0 0 0 0.28in; }

h5 {
  font-size: .29in;
  margin: 0 0 0 0.28in;
  padding: .15in;
  letter-spacing: .01in; }

h4,
h5,
h6 {
  margin: 0 auto; }

.experience,
.school,
.other {
  margin: 0 0 0 0.11in; }
  .experience .bullets,
  .school .bullets,
  .other .bullets {
    font-size: 0.154in; }

@media print {
  p, li {
    font-size: 0.165in; } }

/*# sourceMappingURL=layout3.css.map */
