/***************************** Print *****************************/

.layout1,
.layout3 {
    display: none;
}

@mixin uppercase ($size:9 * .014in) {
    font-size: $size;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.name {
    font-size: 150px;
    margin: 0;
    text-align: center;
}

.indent {
    margin-left: 20 * .014in;
}

p,
li {
    font-size: 11 * .014in;
    margin: 0;
}

h5 {
    font-size: .3in;
    font-weight: 550;
}
.one-third.column h5 {

    color: #888;
}

.header {
    @include uppercase;
}
h4 {
    color: #888;
    letter-spacing: .01in;
}

.section {
    @include uppercase(14 * .014in)
}

.progress {
    background-color: #aaa;
    display: inline-block;
    position: relative;
    height: 12 * .014in;
    margin: 1 * .014in 0;
}

.strength {
    float: left;
    width: 45%;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin circle ($color) {
    color: $color;
    border: 5 * .014in solid $color;
}

.language {
    @include uppercase;
    display: block;
    border-radius: 50%;
    margin: 5 * .014in auto;
    text-align: center;
    padding: 35 * .014in 5 * .014in;
    width: 100 * .014in;
}

.Native {
    @include circle(black);
}

.Fluent {
    @include circle(#333);
}

.Business {
    @include circle(#666);
}

li {
    font-size: 12 * .014in;
    margin: 0 0 0 20 * .014in;
}

h4,
h5,
h6 {
    margin: 0 auto;
}

.experience,
.school,
.other {
    margin: 0 0 0 10 * .014in;
}
