.heading {
    font-size: 100px;
    text-align: center;
    width: 100%
}

.main {
    box-sizing: border-box;
    float: left;
    width: 40%;
}

.side {
    box-sizing: border-box;
    float: left;
    width: 60%;
}