$first: #FE9900;
$second: #774E89;
$third: #2C748C;
$fourth: #00a065;
$rest: #484939;


* {
    color: $rest;
}

#layout3 {
    .one-third.column .ribbon {
        background-color: lighten($third, 12%);
        color: #fff;
        .ribbon-content:before,
        .ribbon-content:after {
            border-color: darken($third, 10%) transparent transparent transparent;
        }
    }
    .one-third.column {
        background-color: lighten($second, 20%);
    }
}

.name {
    color: $first;
}

.section {
    color: $third;
}

.experience h6 span {
    color: $first;
}

.one-third.column h5,
h4 {
    color: $fourth;
}

@mixin circle ($color) {
    color: $color;
    border-color: $color;
}

.progress {
    background-color: $second;
}

.Native {
    @include circle($fourth);
}

.Fluent {
    @include circle($second);
}

.Business {
    @include circle($third);
}

.squares {
    * {
        border-color: $rest !important;
        color: $rest !important;
    }
    &.first {
        background-color: lighten($first, 30%);
    }
    &.second {
        background-color: lighten($second, 30%);
    }
    &.third {
        background-color: lighten($third, 30%);
    }
    &.fourth {
        background-color: lighten($fourth, 30%);
    }
    .progress {
        background-color: $rest;
    }
}